html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

body {
  max-width: 1920px;
  background: #f1f4f5;
  margin: 20px;
  font-family: Manrope;
}

header {
  max-width: 1920px;
  margin-bottom: 80px;
}

.header__inner {
  position: fixed;
  width: 1360px;
  z-index: 2;
  display: flex;
  gap: 89px;
  align-items: center;
  background: transparent;
  text-align: center;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__list {
  display: flex;
  text-transform: uppercase;
  gap: 10px;
  font-weight: 700;
  font-style: Bold;
  font-size: 13px;
}

.menu__item {
  position: relative;
}

.dropdown__menu {
  width: 968px;
  margin-top: 13px;
  position: absolute;
  border-radius: 20px;
  top: 13px;
  background: white;
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: rgba(35, 31, 32, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  transform: translateX(-50px);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s;
}

.polygon {
  position: relative;
  width: 19px;
  height: 19px;
  top: -19px;
  margin-left: -22px;
}

.polygon__links {
  margin-top: -22px;
}

.menu__item.open__dropdown .dropdown__menu {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.dropdown__links {
  padding: 30px;
}

.anime__link {
  text-decoration: none;
  color: rgba(35, 31, 32, 1);
}

.anime__item+.anime__item {
  padding-top: 12px;
  gap: 20px;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  font-size: 13px;
  text-transform: uppercase;
}

.profile__item {
  align-items: center;
  text-align: center;
}

.phone__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  gap: 4px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.profile__link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  gap: 4px;
  text-transform: uppercase;
  color: #fff;
}

.user-email {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}

.bonus-points {
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
  color: #fff;
}

.menu__link {
  text-decoration: none;
  color: white;
}

.user__nav {
  display: flex;
  gap: 20px;
}

.header__swiper {
  max-width: 1400px;
}

.pupup {
  max-width: 1440px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.pupup.open {
  opacity: 1;
  z-index: 1000;
}

.pupup__inner {
  width: 700px;
  height: 384px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.pupup__close {
  width: 44px;
  height: 44px;
  background: #000;
  border-radius: 10px;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-one,
.line-two {
  position: absolute;
  width: 12px;
  height: 2px;
  left: 50%;
  top: 50%;
  background-color: #fff;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.line-one {
  transform: translate(-50%, -50%) rotate(45deg);
}

.line-two {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.pupup__inner-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pupup__inner-input-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
}

.form__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__header input {
  border: none;
  height: 60px;
  padding-left: 20px;
  border-radius: 10px;
  list-style: none;
  background: rgba(244, 244, 244, 1);
}

.input__header::placeholder {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

.pupup__send {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pupup__send p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: rgba(102, 102, 102, 1);
}

.pupup__send-btn {
  width: 145px;
  height: 56px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgba(35, 31, 32, 1);
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.profile__item {
  display: flex;
  width: 217px;
  align-items: center;
  text-align: center;
}

.profile__link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swiper-wrapper {
  min-width: 1200px;
}

.img__slide {

  max-width: 1440px;
  margin-right: 20px;
  border-radius: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  margin-inline: 10px;
  border-radius: 10px;
  align-items: center;
  background: #000;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.new {
  margin-bottom: 80px;
}

.container__new {
  max-width: 1400px;
}

.new__title-box {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.title__new {
  font-weight: 700;
  font-size: 35px;
}

.title__btn-link {
  width: 180px;
  height: 52px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: #231f20;
}

.title__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  text-decoration: none;
  list-style: none;
  border: none;
}

.title__btn-img {
  width: 24px;
  height: 24px;
  align-items: center;
}

.swiper-wrapper-new {
  max-width: 1400px;
}

.swiper-slide-new {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 462px;
  background: #fff;
}

.swiper__slide-top {
  display: flex;
  justify-content: center;
}

.slide__title-img {
  width: 260px;
  height: 260px;
}

.slider-heart {
  width: 20px;
  height: 20px;
}

.slide__title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.new-arrow-prev,
.new-arrow-next {
  width: 40px;
  height: 40px;
  background: #f4f4f4;
  border-radius: 10px;
}

.swiper__slide-info {
  display: flex;
  flex-direction: column;
  height: 76px;
}

.slide-info-theme {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background: #e0e0e0;
  padding: 4px 8px 4px 8px;
  margin: 10px auto;
}

.slider-info-name {
  max-width: 295px;
  max-height: 50px;
  font-weight: 700;
  font-style: bold;
  font-size: 18px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

.swiper__slide-price {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 13px;
  margin: 0 auto;
}

.slide-price {
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
}

.slide-price-old {
  font-weight: 400;
  font-size: 16px;
  color: #8c8c8c;
  text-decoration: line-through;
}

.popular_inner {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.popular__blog1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: space-between;
  width: 335px;
  background: rgba(35, 31, 32, 1);
  border-radius: 20px;
  color: white;
}

.popular__blog2 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 335px;
  background: rgba(35, 31, 32, 1);
  border-radius: 20px;
  color: white;
}

.popular__blog3 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: space-between;
  width: 335px;
  background: rgba(35, 31, 32, 1);
  border-radius: 20px;
  color: white;
}

.popular__blog4 {
  grid-area: 1 / 4 / 3 / 5;
  display: flex;
  justify-content: space-between;
  width: 335px;
  background: rgba(35, 31, 32, 1);
  border-radius: 20px;
  color: white;
}

.popular__blog5 {
  grid-area: 2 / 1 / 4 / 2;
  display: flex;
  justify-content: space-between;
  width: 335px;
  background: rgba(35, 31, 32, 1);
  border-radius: 20px;
  color: white;
}

.popular__blog6 {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  justify-content: space-between;
  width: 335px;
  background: rgba(35, 31, 32, 1);
  border-radius: 20px;
  color: white;
}

.popular__blog7 {
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  justify-content: space-between;
  width: 335px;
  background: rgba(35, 31, 32, 1);
  border-radius: 20px;
  color: white;
}

.popular__blog8 {
  grid-area: 3 / 4 / 4 / 5;
  display: flex;
  justify-content: space-between;
  width: 335px;
  background: rgba(35, 31, 32, 1);
  border-radius: 20px;
  color: white;
}

.popular__blog9 {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / 3 / 4;
}

.category__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.new-arrow-popular {
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: -32px;
  background: rgba(102, 102, 102, 1);
}

.popular__blog4,
.popular__blog5 {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-bottom: 12px;
}

.popular-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -32px;
}

.category-img {
  width: 181px;
  height: 239px;
}

.category {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: rgba(140, 140, 140, 1);
}

.category__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
}

.category-top {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  .header__inner {
    max-width: 1120px;
    gap: 29px;
    left: 50%;
  }

  .new__title-box {
    max-width: 1120px;
  }

  .container__popular {
    max-width: 1120px;
  }

  .swiper-slide {
    width: 373px;
  }

  .popular__blog {
    width: 275px;
  }
}

@media (max-width: 744px) {
  .header__inner {
    width: 684px;
    justify-content: space-between;
    left: 50%;
  }

  .header__nav {
    display: none;
  }

  .header__swiper {
    width: 704px;
    left: auto;
    right: auto;
  }

  .new__title-box {
    max-width: 704px;
  }

  .container__popular {
    max-width: 704px;
  }

  .swiper-slide {
    width: 347px;
  }

  .popular_inner {
    max-width: 704px;
    grid-template-columns: repeat(3, 1fr);
    /* 3 колонки */
    grid-template-rows: repeat(3, 1fr);
    /* 3 строки */
    gap: 10px;
  }

  .popular__blog {
    display: flex;
    width: 228px;
    height: 257px;
  }

  .popular__blog1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .popular__blog2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .popular__blog3 {
    grid-area: 1 / 3 / 2 / 4;
  }

  .popular__blog4 {
    display: none;
  }

  .clone1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .popular__blog5 {
    display: none;
    grid-area: 3 / 3 / 4 / 4;
  }

  .popular__blog6 {
    display: none;
    grid-area: 2 / 3 / 3 / 4;
  }

  .clone3 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .popular__blog7 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .clone2 {
    grid-area: 3 / 3 / 4 / 4;
  }

  .popular__blog8 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .popular__blog9 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .category-img-main {
    width: 135px;
    height: 179px;
    object-fit: cover;
    margin: 68px 5px 0px -18px;
  }

  .category__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .category__text {
    width: 145px;
  }

  .category-top {
    font-weight: 500;
    align-items: center;
    text-align: center;
    font-size: 30px;
  }

  .popular-arrow {
    width: 32px;
    height: 32px;
    margin-top: -32px;
    background: rgba(102, 102, 102, 1);
  }
}

@media (max-width: 320px) {
  body {
    width: 360px;
  }

  .header__inner {
    width: 320px;
    justify-content: space-between;
  }

  .profile__list {
    display: none;
  }

  .user__nav {
    display: none;
  }
}